openapi: 3.0.2
info:
  title: Routing API v8
  version: 8.77.0
  description: A location service providing customizable route calculations for a
    variety of vehicle types as well as pedestrian modes.
  termsOfService: http://developer.here.com/terms-conditions
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  x-document-meta-data:
    copyright: "© 2023 HERE Europe B.V."
    document-id: d01289cc-7dad-4e09-9d61-4c1858f76642
    date-created: '2023-08-18T09:54:06+00:00'
security:
- Bearer: []
- ApiKey: []
servers:
- url: https://router.hereapi.com/v8
  description: Production server for the HERE Routing Service
tags:
- name: Routing
- name: API Information
  description: Additional API Information
paths:
  "/routes":
    parameters:
    - "$ref": "#/components/parameters/transportMode"
    - "$ref": "#/components/parameters/origin"
    - "$ref": "#/components/parameters/destination"
    - "$ref": "#/components/parameters/via"
    - "$ref": "#/components/parameters/departureTimeWithAny"
    - "$ref": "#/components/parameters/arrivalTime"
    - "$ref": "#/components/parameters/routingMode"
    - "$ref": "#/components/parameters/alternatives"
    - "$ref": "#/components/parameters/avoid"
    - "$ref": "#/components/parameters/allow"
    - "$ref": "#/components/parameters/exclude"
    - "$ref": "#/components/parameters/units"
    - "$ref": "#/components/parameters/lang"
    - "$ref": "#/components/parameters/return"
    - "$ref": "#/components/parameters/spans"
    - "$ref": "#/components/parameters/truck"
    - "$ref": "#/components/parameters/vehicle"
    - "$ref": "#/components/parameters/ev"
    - "$ref": "#/components/parameters/fuel"
    - "$ref": "#/components/parameters/driver"
    - "$ref": "#/components/parameters/pedestrianSpeed"
    - "$ref": "#/components/parameters/xRequestId"
    - "$ref": "#/components/parameters/scooter"
    - "$ref": "#/components/parameters/currency"
    - "$ref": "#/components/parameters/customizations"
    - "$ref": "#/components/parameters/taxi"
    - "$ref": "#/components/parameters/tolls"
    - "$ref": "#/components/parameters/maxSpeedOnSegment"
    - "$ref": "#/components/parameters/traffic"
    get:
      operationId: calculateRoutes
      summary: Calculate routes via GET
      tags:
      - Routing
      description: Calculates a route using a generic vehicle/pedestrian mode, e.g.
        car, truck, pedestrian, etc...
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
    post:
      operationId: calculateRoutesPost
      summary: Calculate routes via POST
      tags:
      - Routing
      description: |
        Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...

        At the moment, only select parameters are permitted in the POST payload. In particular, those parameters
        that due to request size may be limited in the query string. See the request body section below. These
        parameters can be provided either in the query string or in the POST body. However, if a parameter is
        provided in both, the request will fail. All other parameters can only be provided in the query string
        at the moment.

        Post body size limit is 10MiB.
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CalculateRoutesPostParameters"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/routes/{routeHandle}":
    parameters:
    - "$ref": "#/components/parameters/routeHandle"
    - "$ref": "#/components/parameters/transportMode"
    - "$ref": "#/components/parameters/routeHandleOrigin"
    - "$ref": "#/components/parameters/departureTimeWithAny"
    - "$ref": "#/components/parameters/avoid"
    - "$ref": "#/components/parameters/allow"
    - "$ref": "#/components/parameters/exclude"
    - "$ref": "#/components/parameters/units"
    - "$ref": "#/components/parameters/lang"
    - "$ref": "#/components/parameters/return"
    - "$ref": "#/components/parameters/spans"
    - "$ref": "#/components/parameters/truck"
    - "$ref": "#/components/parameters/vehicle"
    - "$ref": "#/components/parameters/evConsumption"
    - "$ref": "#/components/parameters/fuel"
    - "$ref": "#/components/parameters/pedestrianSpeed"
    - "$ref": "#/components/parameters/xRequestId"
    - "$ref": "#/components/parameters/scooter"
    - "$ref": "#/components/parameters/currency"
    - "$ref": "#/components/parameters/rerouting"
    - "$ref": "#/components/parameters/taxi"
    - "$ref": "#/components/parameters/tolls"
    - "$ref": "#/components/parameters/maxSpeedOnSegment"
    - "$ref": "#/components/parameters/traffic"
    get:
      operationId: getRoutesByHandle
      summary: Get route by handle via GET
      tags:
      - Routing
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Disclaimer: A route handle is not suitable for persistent route storage! It can be
        invalidated at any time.**

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long as the service uses the same map data and encoding that were used when retrieving the handle.

        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic
        information or other data along the route. However, a user should be prepared to recalculate
        the route when decoding the handle fails.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.

        Please refer to the Developer Guide for more information and examples.
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
    post:
      operationId: getRoutesByHandlePost
      summary: Get route by handle via POST
      tags:
      - Routing
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Disclaimer: A route handle is not suitable for persistent route storage! It can be
        invalidated at any time.**

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long as the service uses the same map data and encoding that were used when retrieving the handle.

        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic
        information or other data along the route. However, a user should be prepared to recalculate
        the route when decoding the handle fails.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.

        Parameters can be provided either in the query string or some selected ones also in the POST
        body. If a parameter is provided in both, the request will fail.

        Post body size limit is 10MiB.

        Please refer to the Developer Guide for more information and examples.
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetRoutesByHandlePostParameters"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/import":
    post:
      operationId: importRoute
      summary: Calculate a route from a sequence of trace points
      tags:
      - Routing
      description: |
        Creates a route from a sequence of trace points.

        Post body size limit is 10MiB.

        For best results, use 1Hz GPS data or any points that have a spacing of a few meters between them.
        For traces with less frequent points, the Route Import service will attempt to create an approximate reconstruction.
        In some situations, when consecutive points are too far apart (more than about 30 kilometers of on-road distance), they could be considered unreachable and one of them could fail to be matched.
      parameters:
      - "$ref": "#/components/parameters/transportMode"
      - "$ref": "#/components/parameters/departureTimeWithAny"
      - "$ref": "#/components/parameters/avoid"
      - "$ref": "#/components/parameters/allow"
      - "$ref": "#/components/parameters/exclude"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/return"
      - "$ref": "#/components/parameters/spans"
      - "$ref": "#/components/parameters/truck"
      - "$ref": "#/components/parameters/vehicle"
      - "$ref": "#/components/parameters/evConsumption"
      - "$ref": "#/components/parameters/fuel"
      - "$ref": "#/components/parameters/xRequestId"
      - "$ref": "#/components/parameters/scooter"
      - "$ref": "#/components/parameters/taxi"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MatchTrace"
          application/geo+json:
            schema:
              "$ref": "#/components/schemas/ImportGeoBody"
      responses:
        200:
          "$ref": "#/components/responses/RoutesResponseOk"
        400:
          "$ref": "#/components/responses/InvalidRoutesRequestResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponseWithRequestID"
        403:
          "$ref": "#/components/responses/Routing403ErrorResponse"
        500:
          "$ref": "#/components/responses/InternalServerErrorRoutesResponse"
  "/health":
    get:
      operationId: getHealth
      summary: Health status of the service
      tags:
      - API Information
      description: Returns the health of the service
      parameters:
      - "$ref": "#/components/parameters/xRequestId"
      security: []
      responses:
        200:
          "$ref": "#/components/responses/HealthResponseOkWithRequestID"
        default:
          "$ref": "#/components/responses/HealthResponseFailWithRequestID"
  "/version":
    get:
      operationId: getVersion
      summary: Full version of the API
      tags:
      - API Information
      description: Returns the version of the service
      parameters:
      - "$ref": "#/components/parameters/xRequestId"
      security: []
      responses:
        200:
          "$ref": "#/components/responses/VersionResponseOkWithRequestID"
        500:
          "$ref": "#/components/responses/500ErrorResponseWithRequestID"
        502:
          "$ref": "#/components/responses/502ErrorResponseWithRequestID"
        503:
          "$ref": "#/components/responses/503ErrorResponseWithRequestID"
        504:
          "$ref": "#/components/responses/504ErrorResponseWithRequestID"
  "/openapi":
    get:
      summary: Retrieves this API specification in OpenAPI 3 format
      operationId: getOpenapi
      tags:
      - API Information
      parameters:
      - "$ref": "#/components/parameters/xRequestId"
      responses:
        200:
          "$ref": "#/components/responses/OpenApiResponseOk"
        500:
          "$ref": "#/components/responses/500ErrorResponseWithRequestID"
        502:
          "$ref": "#/components/responses/502ErrorResponseWithRequestID"
        503:
          "$ref": "#/components/responses/503ErrorResponseWithRequestID"
        504:
          "$ref": "#/components/responses/504ErrorResponseWithRequestID"
components:
  parameters:
    allow:
      name: allow
      description: Explicitly allow features that require users to opt in.
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Allow"
    alternatives:
      name: alternatives
      description: Number of alternative routes to return aside from the optimal route.
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 6
        default: 0
    arrivalTime:
      name: arrivalTime
      description: |
        Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
        The requested time is converted to the local time at destination. When the optional timezone offset is
        not specified, time is assumed to be local.
        All `Time` values in the response are returned in the timezone of each location.

        Note : The following features do not support the arrivalTime parameter:
        * EV Routing
        * Route Handle
        * Route Import
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/Time"
    avoid:
      name: avoid
      description: |
        Avoid roads that violate certain features of road network or that go through
        user-specified areas, segments, or zones.

        Note that if the origin, destination, or any via is in an avoided area or on an avoided
        feature, a route is produced that violates the avoid restriction. In such a case, the
        route is trying to minimize the violation of the avoid restrictions and can therefore
        include large deviations from a route that is calculated without these avoid
        restrictions.

        It is also possible that the produced route violates the avoid restriction in between
        waypoints, if no other route is possible or too hard to find. One such example is
        requesting a route to an island that is only reachable with ferries while specifying
        `avoid[features]=ferry`.

        Further, avoid can cause the route calculation to fail, if no route is possible or too
        hard to find.
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Avoid"
      examples:
        features:
          summary: Avoid specific features like `tunnel' or `ferry`
          value:
            features: tunnel,ferry
        area:
          summary: Avoid a specific geographical bounding box
          value:
            areas: bbox:13.082,52.416,13.628,52.626
        areas:
          summary: Avoid multiple geographical bounding boxes using `|` as element
            separator
          value:
            areas: bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511
        complete:
          summary: Avoid both features and geographical bounding boxes
          value:
            features: tollRoad,tunnel&avoid[areas]=bbox:13.082,52.416,13.628,52.626
        segment:
          summary: Avoid a segment using its identifier
          value:
            segments: here:cm:segment:207551710
        segmentsWithDirection:
          summary: Avoid two segments using their identifiers, also specifying the
            direction
          value:
            segments: here:cm:segment:207551710#+,here:cm:segment:76771992#*
        zones:
          summary: Avoid multiple environmental zones using identifiers
          value:
            zoneIdentifiers: here:cm:envzone:2,here:cm:envzone:3
        zoneCategory:
          summary: Avoid all environmental zones
          value:
            zoneCategories: environmental
        zoneCategoryWithException:
          summary: Avoid all environmental zones except a specific one
          value:
            zoneCategories: environmental;exceptZoneIds=here:cm:envzone:2
        truckRoadTypes:
          summary: Avoid the specified truck road types
          value:
            truckRoadTypes: BK1,BK2,BK3,BK4
        tollTransponders:
          summary: Avoid all toll transponders
          value:
            tollTransponders: all
    currency:
      name: currency
      in: query
      description: |
        Currency code compliant to ISO 4217.
        Costs for the calculated route will be returned using this currency.

        If not provided, the router will specify it.
        On a best-effort basis, the router will try to specify the costs in the local currency.
      required: false
      schema:
        type: string
    customizations:
      name: customizations
      description: |
        Specifies a list of customizations to be used. The data provided by these customizations either
        replaces or augments the standard HERE map data. The provided credentials must authorize access
        to all of the customizations specified.

        **Alpha**: This API is in development. It may not be stable and is subject to change.
      in: query
      allowReserved: true
      required: false
      schema:
        type: array
        items:
          "$ref": "#/components/schemas/CustomizationHRN"
    departureTimeWithAny:
      name: departureTime
      description: |
        Specifies the time of departure as defined by either `date-time` or `full-date` `T`
        `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).

        The requested time is converted to local time at origin. When the optional timezone offset
        is not specified, time is assumed to be local. The special value `any` can be used to
        indicate that time should not be taken into account during routing. If neither
        `departureTime` or `arrivalTime` are specified, current time at departure place will be
        used. All time values in the response are returned in the timezone of each location.

        **Note**: Only long-term traffic incidents will be used if `departureTime=any` and
        `traffic[mode]=default` or no `traffic[mode]` are specified.
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/TimeWithAny"
    destination:
      name: destination
      description: |
        A location defining the destination of the trip.

        For a description of the format and options for this parameter, please refer to the description of
        the `origin` parameter.

        `destination` supports the same options as the `origin` parameter, with the following exceptions:

        ## Additional waypoint options:

        * `stopDuration`: desired duration for the stop, in seconds. The section arriving at this
          via waypoint will have a `wait` post action reflecting the stopping time. The
          subsequent section will start at the arrival time of the former section + stop
          duration.
      in: query
      allowReserved: true
      required: true
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
    driver:
      name: driver
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Driver"
    ev:
      name: ev
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/EV"
    evConsumption:
      name: ev
      in: query
      allowReserved: true
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/EVConsumption"
    exclude:
      name: exclude
      description: |
        Defines properties which will be strictly excluded from route calculation.

        Note - Exclude countries guarantees exclusion, but doesn't guarantee
        finding a route.
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Exclude"
      examples:
        country:
          summary: Exclude the country of Switzerland from the route calculation
          value:
            countries: CHE
        countries:
          summary: Exclude both the country of Switzerland and the country of Austria
            from the route calculation
          value:
            countries: CHE,AUT
    fuel:
      name: fuel
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Fuel"
    lang:
      name: lang
      description: |
        Specifies the list of preferred languages of the response.
        The first supported language from the list will be used for for the response if available.
        The next languages are used as fallbacks if the first one is not available.
        Additionally, some more fallback logic is applied if no language is available, like generalizing the requested language code.
        The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).
        A list of supported languages for the routing service, as well as more information on the language fallback logic, can be found in the dev guide https://developer.here.com/documentation/routing-api/dev_guide/topics/languages.html.

        Note: If the first language in the list is not supported exactly, an info notification will be generated with code `mainLanguageNotFound`.
      in: query
      schema:
        type: array
        items:
          type: string
        default:
        - en-US
      style: form
      explode: false
      example: zh-tw,en-gb,en-us
    maxSpeedOnSegment:
      name: maxSpeedOnSegment
      description: 'Specify new base speed for segment by value. Affects route selection
        and the ETA. Cannot increase base speed on segment.

'
      in: query
      allowReserved: true
      style: form
      required: false
      schema:
        "$ref": "#/components/schemas/MaxSpeedOnSegment"
      examples:
        speed:
          summary: Setting new base speed on segment
          value:
            speed: here:cm:segment:76771992#*;speed=42
    origin:
      name: origin
      description: |
        A location defining the origin of the trip.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        ## Supported place options

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          The typical examples include: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.

          Empty string values are ignored.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radiuses wider than 200 meters are
          not supported.
          Option cannot be combined with `snapRadius`.
        * `radiusPenalty`: int, percentage 0-1000. Used in conjunction of `radius` parameter.
          Router will match the waypoint, within the specified radius and penalize candidates according to air distance
          to the waypoint. Penalty is proportional to given percentage, 100 being just cost of air distance and 200 double.
          Currently works only for pedestrian/bicycle routes.
          **Alpha**: This parameter is in development. It may not be stable and is subject to change.
        * `snapRadius`: int, meters. Instructs the router to match the waypoint, within the specified radius,
          to the most "significant" road. In contrast to the regular `radius` parameter, `snapRadius` sorts potential
          candidates in order of "significance". For example, a highway is more significant on a zoomed-out map than
          a national road, a national road is more significant than a city road, etc. Hence, `snapRadius` cannot be
          combined with `radius` parameter. The typical use case for `snapRadius` is when selecting a waypoint on a
          zoomed-out view of a map on a drag-and-drop interface. The expectation on such UIs is that only roads that
          are visible at that zoom level are considered for matching and a large snapRadius would enable that.
        * `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.
          For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.
        * `customizationIndex`: int. Specifies the zero-based index into the list of customizations
          specified in the `customizations` parameter. The customization at that index must be an
          Extension Map.
          Providing a `customizationIndex` indicates the this waypoint is located within that
          Extension Map.
          **Alpha**: This customization API parameter is in development. It may not be stable and is subject to change.
        * `segmentIdHint`: string. Causes the router to try and match to the specified segment.
          Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint
          This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.
        * `onRoadThreshold`: int, meters. allows specifying a distance within which
          the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.
          Within this threshold, the attributes of the segments do not impact the matching.
          Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.

        ## Notes

        * `stopDuration` option is not supported for `origin`, contrary to `destination` and
          `via` waypoints.
        * `passThrough`: option is not supported for 'origin'.
        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the Developer Guide for more details.
      in: query
      allowReserved: true
      required: true
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
    pedestrianSpeed:
      name: pedestrian[speed]
      description: 'Walking speed in meters per second. Influences the duration of
        walking segments along the route.

'
      in: query
      schema:
        "$ref": "#/components/schemas/PedestrianSpeed"
    rerouting:
      name: rerouting
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Rerouting"
    return:
      name: return
      description: |
        Defines which attributes are included in the response as part of data representation of a
        `Route` or `Section`.

        * `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
         Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified).
        * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
        * `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.
        * `summary` - Include summary for the section.
        * `travelSummary` - Include summary for the travel portion of the section.
        * `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.
        * `mlDuration` - Use a region-specific machine learning model to calculate route duration.
          **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**
        * `typicalDuration` - Include route duration under typical traffic conditions.
        * `elevation` - Include elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.
        * `routeHandle` - Encode calculated route and return a handle which can be used with
        `routes/{routeHandle}` to decode the route at a later point in time.
        * `passthrough` - Include information on passthrough via waypoints in the section.
        * `incidents` - Include a list of all incidents applicable to each section.
           Incidents are localized to the requested language.
           This requires `incidents` to be specified as part of the `return` parameter.
        * `routingZones` - Include information about routing zones each section goes through.
        * `truckRoadTypes` - Include information about road types each section goes through.
        * `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing
          parameters such as vehicle dimensions in the query,
          e.g `transportMode`, `vehicle[hovOccupancy]`, truck[height]. The full list of toll-related attributes is available in the
          [Tolls](https://developer.here.com/documentation/routing-api/dev_guide/topics/use-cases/tolls.html) page of the Developer Guide
          If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.
          **Note**: some toll-related options such as cars with trailers, or vehicle fuel related tolls are planned but not implemented at the moment.
          Therefore the request will return the most "typical" toll cost.

        The following restrictions apply when specifying the `return` parameter:

        * If `actions` is requested, then `polyline` must also be requested as well.
        * If `instructions` is requested, then `actions` must also be requested as well.
        * If `turnByTurnActions` is requested, then `polyline` must also be requested as well.
        * If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          "$ref": "#/components/schemas/Return"
      style: form
      explode: false
    routeHandle:
      name: routeHandle
      in: path
      description: |
        Route handle returned from a previous route calculation.

        See `return` parameter of `/routes` endpoint for more information.
      required: true
      schema:
        type: string
    routeHandleOrigin:
      name: origin
      description: |
        A location defining the origin of the trip. The origin has to be located along the
        previously calculated route.

        For a description of the format and options for this parameter, please refer to the description of
        the `origin` parameter in `Calculate routes via GET`.

        This parameter supports the same options as the `origin` parameter in `Calculate routes via GET`,
        with the following exceptions:

        ## Notes

        * `minCourseDistance`: While this parameter can be provided for compatibility reasons,
          it will not affect the result of a getRoutesByHandle request.
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20
          summary: Setting course/radius an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
    routingMode:
      name: routingMode
      description: |
        Specifies which optimization is applied during route calculation.

        * `fast`: Route calculation from start to destination optimized by travel time. In many
          cases, the route returned by the `fast` mode may not be the route with the fastest
          possible travel time. For example, the routing service may favor a route that remains on
          a highway, even if a faster travel time can be achieved by taking a detour or shortcut
          through an inconvenient side road.
        * `short`: Route calculation from start to destination disregarding any speed information.
          In this mode, the distance of the route is minimized, while keeping the route sensible.
          This includes, for example, penalizing turns. Because of that, the resulting route will
          not necessarily be the one with minimal distance.

        Notes:
        * The following Transport modes only support `fast` routingMode
          - `bicycle`
          - `bus`
          - `pedestrian`
          - `privateBus`
          - `scooter`
          - `taxi`
      in: query
      required: false
      schema:
        "$ref": "#/components/schemas/RoutingMode"
    scooter:
      name: scooter
      description: |
        Scooter-specific parameters.
          * `allowHighway`: Specifies whether the scooter is allowed on highways or not. This parameter is optional.
            If not provided, the default is to avoid highways.
            There is a similar parameter avoid[features]=controlledAccessHighway to disallow highway usage.
            avoid[features] takes precedence, so if that parameter is also used, scooters are not allowed
            to use highways even if `allowHighway` is set to `true`.
            The following values are possible:
              * `true`: The scooter is allowed to use highways.
              * `false`: The scooter is not allowed to use highways.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Scooter"
    spans:
      name: spans
      in: query
      required: false
      description: |
        Defines which map content attributes are included in the response spans. For example, `attributes,length` will enable the fields `attributes` and `length` in the route response.
        For more information about the `countryCode` field, see https://www.iso.org/obp/ui/#search.

        This parameter also requires that the `polyline` option is set within the `return` parameter.

        **NOTE:** Attribute speedLimit is deprecated, use maxSpeed instead. Attribute segmentId is deprecated, use segmentRef instead.
      style: form
      explode: false
      schema:
        type: array
        uniqueItems: true
        items:
          "$ref": "#/components/schemas/Spans"
    taxi:
      name: taxi
      description: |
        Taxi-specific parameters.
          * `allowDriveThroughTaxiRoads`: Specifies if a vehicle is allowed to drive through
            taxi-only roads and lanes. Even if this option is set to `false`, the vehicle is still
            allowed on taxi-only roads at the start of the route and at the destination.

            **Disclaimer**: This parameter is currently provided as Beta with limited functionality.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Taxi"
    tolls:
      name: tolls
      description: 'Defines properties which control toll calculation and reporting
        in the response.

'
      in: query
      required: false
      style: deepObject
      schema:
        "$ref": "#/components/schemas/Tolls"
    traffic:
      name: traffic
      description: Traffic specific parameters.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Traffic"
    transportMode:
      name: transportMode
      description: |
        Mode of transport to be used for the calculation of the route.

        Note:
        `bicycle`, `bus`, `privateBus`, and `taxi` modes are currently provided as Beta, with limited functionality.
        Please refer to the Developer Guide for more details.
      in: query
      required: true
      schema:
        "$ref": "#/components/schemas/RouterMode"
    truck:
      name: truck
      description: |
        Truck-specific parameters. Please note that truck parameters are deprecated, and vehicle parameters should be used instead. Truck parameters cannot be used together with vehicle parameters.
          * `shippedHazardousGoods`:
            A comma-separated list of hazardous goods being shipped in the vehicle. The following values are possible:
            * `explosive`: Materials that are capable of causing an explosion.
            * `gas`: Gas (definition varies from country to country). For details, check [here](https://en.wikipedia.org/wiki/HAZMAT_Class_2_Gases).
            * `flammable`: Materials that can easily catch fire.
            * `combustible`: Materials that have the potential to burn.
            * `organic`: Organic materials or compounds.
            * `poison`: Substances that can cause harm or death when ingested, inhaled, or absorbed.
            * `radioactive`: Materials that emit radiation and pose potential health risks.
            * `corrosive`: Substances that can cause damage or destruction through chemical reactions.
            * `poisonousInhalation`: Materials that are toxic when inhaled.
            * `harmfulToWater`: Materials that can cause pollution or harm to water bodies.
            * `other`: Other types of hazardous materials not covered by the above categories.
          * `grossWeight`: Vehicle weight including trailers and shipped goods, specified in kilograms.
          * `weightPerAxle`: Vehicle weight per axle, specified in kilograms.
          * `weightPerAxleGroup`: Weight of different axle groups such as single and tandem axles, specified in kilograms.
          * `height`: Vehicle height, specified in centimeters.
          * `width`: Vehicle width, specified in centimeters.
          * `length`: Vehicle length, specified in centimeters.
          * `tunnelCategory`: The tunnel category used to restrict the transport of specific goods.
            The following values are possible:
              * `B`
              * `C`
              * `D`
              * `E`
          * `axleCount`: Total number of axles in the vehicle.
          * `type`: The type of truck. The following values are possible:
              * `straight`: A truck on a single frame with a permanently attached cargo area.
              * `tractor`: A towing vehicle that can pull one or more semi-trailers (also known as a semi-truck).
          * `trailerCount`: The number of trailers attached to the vehicle.
          * `payloadCapacity`: The allowed payload capacity of the vehicle including trailers, specified in kilograms.
      deprecated: true
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Truck"
    units:
      name: units
      description: 'Units of measurement used in guidance instructions. The default
        is `metric`.

'
      in: query
      required: false
      schema:
        "$ref": "#/components/schemas/Units"
    vehicle:
      name: vehicle
      description: |
        Vehicle-specific parameters.
          * `shippedHazardousGoods`:
            A comma-separated list of hazardous goods being shipped in the vehicle. The following values are possible:
            * `explosive`: Materials that are capable of causing an explosion.
            * `gas`: Gas (definition varies from country to country). For details, check [here](https://en.wikipedia.org/wiki/HAZMAT_Class_2_Gases).
            * `flammable`: Materials that can easily catch fire.
            * `combustible`: Materials that have the potential to burn.
            * `organic`: Organic materials or compounds.
            * `poison`: Substances that can cause harm or death when ingested, inhaled, or absorbed.
            * `radioactive`: Materials that emit radiation and pose potential health risks.
            * `corrosive`: Substances that can cause damage or destruction through chemical reactions.
            * `poisonousInhalation`: Materials that are toxic when inhaled.
            * `harmfulToWater`: Materials that can cause pollution or harm to water bodies.
            * `other`: Other types of hazardous materials not covered by the above categories.
          * `grossWeight`: Vehicle weight including trailers and shipped goods, specified in kilograms.
          * `weightPerAxle`: Vehicle weight per axle, specified in kilograms.
          * `weightPerAxleGroup`: Weight of different axle groups, such as single and tandem axles, specified in kilograms.
          * `height`: Vehicle height, specified in centimeters.
          * `width`: Vehicle width, specified in centimeters.
          * `length`: Vehicle length, specified in centimeters.
          * `tunnelCategory`: The tunnel category used to restrict the transport of specific goods. The following values are possible:
              * `B`
              * `C`
              * `D`
              * `E`
          * `axleCount`: Defines the total number of axles in the vehicle.
          * `trailerAxleCount`: The total number of axles across all the trailers attached to the vehicle.
          * `type`: The type of vehicle. The following values are possible:
              * `straightTruck`: A truck on a single frame with a permanently attached cargo area. This values is only applicable when the truck routing mode is used.
              * `tractor`: A towing vehicle that can pull one or more semi-trailers (also known as a semi-truck). This values is only applicable when the truck routing mode is used.
          * `trailerCount`: The number of trailers attached to the vehicle.
          * `engineSizeCc` : The engine size of the vehicle in cubic centimeters.
            Currently, the value is used only in scooter mode.
            This parameter is utilized to determine if the scooter can be classified as a moped.
            Scooters with an engine size less than 51cc are considered mopeds.
            **Alpha**: This API is in development. It may not be stable and is subject to change. It may have no impact on response.
          * `occupancy` : The number of occupants in the vehicle, defined as individuals occupying a seat.
            **Alpha**: This API is in development. It may not be stable and is subject to change. It may have no impact on response.
          * `kpraLength`: Specifies kingpin to rear axle length, in centimeters.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        "$ref": "#/components/schemas/Vehicle"
    via:
      name: via
      description: |
        A location defining a via waypoint.

        A via waypoint is a location between origin and destination. There are two types of via waypoints:
        * `passThrough=false` (default) : The route will stop at the via waypoint, creating a new route section.
        * `passThrough=true` : The route will pass through the via waypoint.

        Multiple waypoints can be specified by using multiple via parameters like
        `via=...&via=...`, in which case the route will traverse these waypoints sequentially in
        the order specified in the request.

        For a description of the format and options for this parameter, please refer to the description of
        the `origin` parameter.
        `via` supports the same options as the `origin` parameter, with the following exceptions:

        ## Additional waypoint options:
        * `stopDuration`: desired duration for the stop, in seconds.
        * `passThrough`: boolean. Default value is `false`.
           Setting to `true` asks the router to avoid the following during route calculation:
          + Introducing a stop at the waypoint.
          + Splitting the route into sections.
          + Changing the direction of travel.

          The following scenarios are not supported for `passThrough` parameter:
          + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.
          + Setting `passThrough=true` for `origin` or `destination` of a route.
      in: query
      allowReserved: true
      style: form
      explode: true
      required: false
      schema:
        type: array
        items:
          "$ref": "#/components/schemas/Waypoint"
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending
            on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate
            of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
        pass-through:
          value: 51.611571,11.351608!passThrough=true
          summary: Setting pass-through parameter to avoid possibly making a u-turn
            for a stop
    xRequestId:
      name: X-Request-ID
      in: header
      description: User-provided token that can be used to trace a request or a group
        of requests sent to the service.
      schema:
        type: string
  headers:
    X-Correlation-Id:
      description: Auto-generated id that univocally identifies the request.
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    X-Request-Id:
      description: User-provided token that can be used to trace a request or a group
        of requests sent to the service.
      schema:
        type: string
      example: 8230d7ad-3f1c-4191-a8dd-f3c42026da89
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'A key generated specifically to authenticate API requests. For
        more information on how to get an API key, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.

'
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.
        For more information on how to get a bearer token, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.
  schemas:
    AccessAttributes:
      description: "Extensible enum: `open` `noThrough` `tollRoad` `...`  \n`AccessAttributes`
        is applied to a span of a route section and describes access flags of a street.\n\n*
        `open`: A part of the route that can be traversed.\n* `noThrough`: A part
        of the route that can only be traversed if origin, destination or any via
        waypoint is located there.\n* `tollRoad`: Access to this part of the route
        is restricted with a fee (or toll).\n\nAs it is possible that new access attributes
        are supported in the future, unknown access attributes should be ignored.\n"
      type: string
      x-extensible-enum:
      - open
      - noThrough
      - tollRoad
    Allow:
      type: object
      description: Explicitly allow features that require users to opt in.
      properties:
        hov:
          description: |
            This parameter specifies whether HOV lanes can be used in the calculation.

            An HOV (High occupancy Vehicle) lane or carpool lane is reserved for carpool usage.
            Carpool lane requires a minimum number of passengers in order for the car to use the
            carpool lane.

            **Notes**:
              - This parameter can't be used with 'vehicle[hovOccupancy]'.
              - This parameter can be used with `vehicle[occupancy]`. If `vehicle[occupancy]` is set, then only HOV lanes allowing this number of occupants will be allowed.
              - In case of violation, `violatedCarpool` notice will be returned.
          type: boolean
          default: false
        hot:
          description: |
            This parameter specifies whether HOT lanes can be used in the calculation.

            HOT (high-occupancy toll) lanes are HOV lanes where vehicles that do not qualify as high-occupancy are allowed to pass by paying a toll.

            **Notes**:
              - This parameter can't be used with 'vehicle[hovOccupancy]'.
              - This parameter can be used with `allow[hov]`.
              - In case of violation, `violatedCarpool` notice will be returned.
              - No toll information is returned for HOT lanes since it is dynamic information.
          type: boolean
          default: false
    AttributionLinkType:
      description: |
        Attribution link type.

        * `disclaimer` - Page with further legal information from the agency.
        * `tariff` - Page with information on the tariff.
      type: string
      required:
      - type
      enum:
      - disclaimer
      - tariff
    AuthErrorResponseSchema:
      properties:
        error:
          type: string
          description: Human-readable error
        error_description:
          type: string
          description: Human-readable error description
    Avoid:
      type: object
      properties:
        features:
          description: |
            A comma-separated list of features that routes should avoid.

            * `seasonalClosure`
            * `tollRoad`
            * `controlledAccessHighway`
            * `ferry`
            * `carShuttleTrain`
            * `tunnel`
            * `dirtRoad`
            * `difficultTurns`: This option avoids difficult turns, sharp turns and U-turns on highways and motorways. It is only supported for the `truck` transport mode.
            * `uTurns`: This option avoids U-turns on highways and motorways. It is not supported for pedestrian, bicycle and scooter transport modes.
          type: string
        areas:
          description: |
            A pipe separated list of user-defined areas that routes should avoid going through.
            The list is limited to 250 items.

            Format: `{shape1}|{shape2}|{shape3}...`

            Supported shape format:
            * Bounding box - A rectangular area on earth defined by a comma separated list of two latitude and two longitude values.
              - Format: `bbox:{west},{south},{east},{north}`
                + `{west}`  - Longitude value of the westernmost point of the area.
                + `{south}` - Latitude value of the southernmost point of the area.
                + `{east}`  - Longitude value of the easternmost point of the area.
                + `{north}` - Latitude value of the northernmost point of the area.
              - Example: `bbox:13.082,52.416,13.628,52.626` - Bounding box of Berlin
            * Polygon - A polygon on earth which defines area to avoid.
              Possible formats:
              1) As list of geopoints.
                - Format: `polygon:{lat},{lon};{lat},{lon};{lat},{lon}...`
                  + `{lat}` - Latitude
                  + `{lon}` - Longitude
                - Example: `polygon:52.416,13.082;52.626,13.628;52.916,13.482` - Polygon in Berlin
              2) As [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
                - Support only 2D polyline (without `elevation` specified).
                - Format: `polygon:{encoded_polyline}`
                  + `{encoded_polyline}` - encoded [Flexible Polyline](https://github.com/heremaps/flexible-polyline)
                - Example: `polygon:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e`
              Notes:
              * Maximal count of polygons is 20. Count of bounding boxes + polygons <= 250
              * Minimal count of coordinates in one polygon is 3. If less - corresponding error will be returned.
              * Maximal count of coordinates in one polygon is 16. If more - corresponding error will be returned.
              * The polygon is closed automatically, there is no need to duplicate the first point as the last one.
              * Self-intersecting polygons are not supported. If they are present in the request, the corresponding error will be returned.
          type: string
        segments:
          description: |
            A comma separated list of segment identifiers that routes should avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            `here:cm:segment:207551710#+,here:cm:segment:76771992#*`

            **Note**: Maximum number of penalized segments in one request should not be greater than 250.
                      "Penalized segments" refers to segments that either have a restriction on maximum baseSpeed with `maxSpeedOnSegment`
                      or avoided with `avoid[segments]`
          type: string
        zoneCategories:
          description: |
            Specifies a list of categories of zones which routes should avoid going through.

            Format: `Categories[ZoneCategoryOptions]`

            * Categories: `{cat1},{cat2}...`
              A comma separated list of zone categories.
            * ZoneCategoriesOptions (optional): `;option1=value1;options2=value2...`
              A list of options for zone categories in `KEY=VALUE` form.

            Supported zone category options:
              * exceptZoneIds: A comma-separated list of zone identifiers, which should not be taken into account for evaluation of zone categories to avoid.

            Supported zone categories:
              * `vignette`
              * `congestionPricing`
              * `environmental`

            Example of zone categories avoidance:
            `avoid[zoneCategories]=environmental,vignette`

            Example of zone categories avoidance with exceptions:
            `avoid[zoneCategories]=environmental,vignette;exceptZoneIds=here:cm:envzone:3`
          type: string
        zoneIdentifiers:
          description: |
            A comma separated list containing identifiers of zones that routes should avoid going through.

            Example of an identifier referencing an environmental zone:
            `here:cm:envzone:2`
          type: string
        truckRoadTypes:
          description: |
            A comma-separated list of truck road type identifiers to be avoided.

            A truck road type is an identifier associated with roads that have additional regulations applied by local administration for traversal by heavy vehicles like trucks.
            For example, the BK Bearing Class regulations in Sweden, and ET categories in Mexico.
            Identifiers for supported truck road types are specified in HERE Map Content
            [TruckRoadType](https://developer.here.com/documentation/here-map-content/dev_guide/topics_schema/truckroadtypeattribute.truckroadtype.html).

            Example: `avoid[truckRoadTypes]=BK1,BK2,BK3,BK4`
          type: string
          example: BK1,BK2,BK3,BK4
        tollTransponders:
          description: |
            Specifies that routes should avoid all toll transponders.

            Example: `avoid[tollTransponders]=all`
          type: string
    AvoidPost:
      type: object
      description: |
        Avoid routes that violate certain features of road network or that go through
        user-specified geographical bounding boxes.

        For the general description of the functionality please refer to the `avoid` parameter of the
        query string.

        Passing parameters in the POST body is suggested when the length of the parameters exceeds the
        limitation of the GET request.
      properties:
        segments:
          description: |
            An array of segment identifiers that routes will avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            `["here:cm:segment:207551710#+", "here:cm:segment:76771992#*"]`

            **Note**: Maximum amount of penalized segments in one request should not be grater than 250.
                      "Penalized segments" refers to segments that have a restriction on maximum baseSpeed with `maxSpeedOnSegment`
                      or avoided with `avoid[segments]`
          type: array
          items:
            type: string
    AxleGroupWeight:
      description: 'Contains the maximum allowed weight for an axle-group.

'
      properties:
        maxWeight:
          description: Maximum weight of the axle-group-weight restriction, in kilograms.
          type: integer
          format: int32
          minimum: 0
        axleGroup:
          description: "Extensible enum: `single` `tandem` `triple` `quad` `quint`
            `...`  \nAxle-group associated with the restriction.\n\nPossible values
            are:\n\n* single\n* tandem\n* triple\n* quad\n* quint\n"
          type: string
          x-extensible-enum:
          - single
          - tandem
          - triple
          - quad
          - quint
    BaseNoticeDetail:
      properties:
        title:
          type: string
          description: Detail title
        cause:
          type: string
          description: Cause of the notice
        type:
          type: string
          description: |
            Detail type. Each type of detail might contain extra attributes.

            **NOTE:** The list of possible detail types may be extended in the future.
            The client application is expected to handle such a case gracefully.
      required:
      - type
    CO2Emission:
      type: number
      description: Estimation of the carbon dioxide emission for the given route.
        Unit is kilograms with precision to three decimal places.
    ChargingConnectorType:
      description: "Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo`
        `tesla` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:
        \ Type 1 Combo connector, commonly called \"SAE J1772\"\n* `iec62196Type2Combo`:
        \ Type 2 Combo connector, commonly called \"Mennekes\"\n* `chademo`: CHAdeMO
        connector\n* `tesla`: Tesla connector\n"
      type: string
      x-extensible-enum:
      - iec62196Type1Combo
      - iec62196Type2Combo
      - chademo
      - tesla
    ChargingStationBrand:
      description: Information regarding the charging station brand
      properties:
        name:
          description: Charging station brand name
          type: string
        hrn:
          description: |
            Charging station brand unique ID.
            If specified in `ev[preferredBrands]` parameter
            then it would apply preference to adding stations of the given brand.

            **NOTE:** As of now it is generated as a brand name hash.
            It will be changed to HRN (HERE Resource Name) in the future.
          type: string
    ChargingSupplyType:
      description: "Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently
        possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n*
        `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current
        supply\n"
      type: string
      x-extensible-enum:
      - acSingle
      - acThree
      - dc
    Color:
      type: string
      pattern: "#[0-9A-Fa-f]{6}"
      example: "#FF0000"
    Consumption:
      type: number
      description: |
        Energy or fuel consumption.
        For EV energy consumption is in kilowatt hours (kWh). For fuel-based vehicles fuel consumption is in Liters (L) for diesel, petrol and LPG vehicles, and Kilograms (kg) for CNG vehicles.
    ConsumptionSpeedTable:
      type: string
      description: |
        Function curve specifying consumption rate at a given speed.

        The format of the string is a comma-separated list of numbers, as follows:

        ```
        <SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>
        ```

        where speed values are strictly increasing, non-negative integers in units of (km/h), and
        consumption values are non-negative floating point values.

        * Unit for EV:
        | Vehicle Type | Unit |
        |--------------|------|
        | Electric | Wh/m i.e., Watt-hours per meter|

        * Units for Fuel-based vehicles:
        | Vehicle Type | Unit |
        |--------------|------|
        | Diesel, Petrol & LPG | ml/m i.e., milliliters per meter|
        | CNG | gm/m i.e., grams per meter|

        The function is linearly interpolated between data points. For speeds less than `SPEED_0`
        the value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the
        value of the function is `CONSUMPTION_N`.
      example: 0,0.2394,14,0.2394,36,0.2586,52,0.196,68,0.2074,83,0.238,95,0.2597,105,0.2597,115,0.2964,125,0.3367,135,0.3508
    ConsumptionType:
      description: "Extensible enum: `electric` `diesel` `petrol` `lpg` `cng` `...`
        \ \nVehicle consumption type. The energy or fuel consumption type (electric,
        diesel, petrol, lpg, and cng)\nof a vehicle which provides the relevant information
        required to parse (unit, etc.) the energy or fuel\n`consumption` value of
        a vehicle.\n"
      type: string
      x-extensible-enum:
      - electric
      - diesel
      - petrol
      - lpg
      - cng
    CountryCode:
      description: ISO-3166-1 alpha-3 code
      type: string
      example: FRA
    CustomizationHRN:
      description: 'HERE Resource Name identifier for customization. This HRN must
        follow a convention below: hrn:here:<service_id>::<customer-realm-id>:custom:<customization_type>:<customization_id>.'
      type: string
      pattern: "^hrn:here:[a-z]+::[a-z|-]+:custom:[a-z|-]+$"
      example: hrn:here:routing::olp-abc:custom:extension-map:abc-yard-routing
    DataVersion:
      description: Version of a specific data set
      properties:
        name:
          type: string
          description: Identifies a data set, for example, a HRN, or a service specific
            identifier
          example: optimized-map-for-routing
        version:
          type: string
          description: The current version of this data set
          example: 2022.346.5.48
      required:
      - name
      - version
    DepartureDelay:
      description: The accumulated delay in seconds from the scheduled time of the
        event.
      type: integer
    DepartureStatus:
      description: "Extensible enum: `scheduled` `cancelled` `additional` `replaced`
        `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running
        as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule
        but was removed.\n* `additional`: An extra trip that was added in addition
        to a running schedule, for example, to respond to sudden passenger load.\n*
        `replaced`: A trip that was in the schedule but is removed and replaced with
        `additional` trip, for example, to replace a broken vehicle or handle detour.\n"
      type: string
      x-extensible-enum:
      - scheduled
      - cancelled
      - additional
      - replaced
      default: scheduled
    Distance:
      type: integer
      minimum: 0
      description: Distance in meters.
      example: 189
    Driver:
      description: |
        Driver parameters to be used for calculating routes with automatically added
        rest stops.
      properties:
        schedule:
          type: string
          description: |
            A comma separated list of duration pairs in seconds. Each pair is two positive greater than zero integers.
            The first specifies the maximum allowed drive time before stopping to rest, and the second the resting time before continuing driving.

            Format `driveTime,restTime[,driveTime,restTime]...`

            * driveTime - duration in seconds, describes maximum driving time allowed in a route's section
              next stop or route end
            * restTime - duration in seconds, describes minimum resting time required before continuing driving

            The routing engine adds necessary stops for rest to fulfill driver work hours requirements.
            If the route duration exceeds the defined drive-rest sequence the remaining route is added as the last drive section
            (or several sections if there are `via` waypoints on the remaining route) with critical notice `travelTimeExceedsDriverWorkHours`.
            `driver[schedule]` is not supported in combination with any of those parameters: `arrivalTime`, `ev[makeReachable]`.
            Also, `driver[schedule]` doesn't support route alternatives. So `alternatives` parameter value is ignored in combination
            with `driver[schedule]`.
    Duration:
      type: integer
      description: Duration in seconds.
      example: 198
    EVPost:
      type: object
      properties:
        preferredBrands:
          description: |
            An array of charging station brand IDs. If `makeReachable` is set to `true`, then charging stations from the specified brands
            will be preferred as potential charging stops, even if this makes the total route duration (travel time plus charging time) longer (up to 15 minutes per charging stop)

            Example of a parameter value preferring two charging station brands:
            `["6e1a148e8ddf06f613599134197b7c1c","6211c90a063d36429b599dda79ae85e3"]`
          type: array
          items:
            type: string
    ErrorResponse:
      description: Response in case of error
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: |
            Error code.

            All error codes start with "`E60`".
          example: E600101
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken
            to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that univocally identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    Exclude:
      type: object
      description: Options to exclude strictly during the route calculation.
      properties:
        countries:
          description: |
            A comma separated list of three-letter country codes (ISO-3166-1 alpha-3 code) that
            routes will exclude.
          type: string
    FarePassValidityPeriod:
      description: Specifies a temporal validity period for a pass
      properties:
        period:
          description: "Extensible enum: `annual` `extendedAnnual` `minutes` `days`
            `months` `...`  \nSpecifies one of the following validity periods:\n  -
            `annual`: pass is valid from Jan 1 to Dec 31\n  - `extendedAnnual`: pass
            is valid from Jan 1 to Jan 31 of the following year\n  - `minutes`: pass
            is valid for a specified number of minutes See `unit`.\n  - `days`: pass
            is valid for a specified number of days. See `unit`.\n  - `months`: pass
            is valid for a specified number of months. See `unit`.\n"
          type: string
          x-extensible-enum:
          - annual
          - extendedAnnual
          - minutes
          - days
          - months
        count:
          description: Required if period is `minutes`, days` or `months`, it specifies
            how many of these units are covered by the pass.
          type: integer
      required:
      - period
    FareReason:
      description: "Extensible enum: `ride` `parking` `...`  \nReason for the cost
        described in this `Fare` element.\n"
      type: string
      x-extensible-enum:
      - ride
      - parking
    FuelType:
      description: "Extensible enum: `diesel` `petrol` `lpg` `cng` `...`  \nVehicle
        fuel type. It is mandatory for calculation of consumption and CO2 emission.\n*
        `diesel`: Diesel. Emission is 2.64 kg of CO2 from each combusted liter of
        fuel.\n* `petrol`: Petrol/gasoline. Emission is 2.392 kg of CO2 from each
        combusted liter of fuel.\n* `lpg`: LPG. Emission is 1.665 kg of CO2 from each
        combusted liter of fuel.\n* `cng`: CNG(L-gas or Low calorific). Emission is
        2.252 kg of CO2 from each combusted kilogram of fuel.\n"
      type: string
      x-extensible-enum:
      - diesel
      - petrol
      - lpg
      - cng
    FunctionalClass:
      description: |
        Functional class defines a hierarchical network used to determine a logical and efficient route. The following classifications are used:

        * `1`: Roads that allow for high volume, maximum speed traffic movement between and through major metropolitan areas.
        * `2`: Roads that are used to channel traffic to functional class 1 roads for travel between and through cities in the shortest amount of time.
        * `3`: Roads that intersect functional class 2 roads and provide a high volume of traffic movement at a lower level of mobility than functional class 2 roads.
        * `4`: Roads that provide for a high volume of traffic movement at moderate speeds between neighborhoods.
        * `5`: Roads with volume and traffic movement below the level of any other functional class.
      type: integer
      format: int32
      minimum: 1
      maximum: 5
    Gate:
      description: "Extensible enum: `keyAccess` `permissionRequired` `emergency`
        `...`  \nType of gate crossing.\n"
      type: string
      x-extensible-enum:
      - keyAccess
      - permissionRequired
      - emergency
    HazardousGoodsRestriction:
      description: "Extensible enum: `explosive` `gas` `flammable` `combustible` `organic`
        `poison` `radioactive` `corrosive` `poisonousInhalation` `harmfulToWater`
        `other` `any` `...`  \nHazardous goods restrictions refer to the limitations
        and regulations imposed on the transportation of specific types of hazardous
        materials during a trip. The following categories of hazardous goods are commonly
        considered:\n\n* `explosive`: Materials that are capable of causing an explosion\n*
        `gas`: Gas (definition varies from country to country). For details, check
        [here](https://en.wikipedia.org/wiki/HAZMAT_Class_2_Gases)\n* `flammable`:
        Materials that are easily ignited and capable of catching fire.\n* `combustible`:
        Materials that have the potential to burn or catch fire.\n* `organic`: Materials
        derived from living organisms or containing carbon compounds.\n* `poison`:
        Substances that can cause harm or death when ingested, inhaled, or absorbed.\n*
        `radioactive`: Materials that emit radiation and pose potential health risks.\n*
        `corrosive`: Substances that can cause damage or destruction through chemical
        reactions.\n* `poisonousInhalation`: Materials that are toxic when inhaled.\n*
        `harmfulToWater`: Materials that can cause pollution or harm to water bodies.\n*
        `other`: Other types of hazardous materials not covered by the above categories\n*
        `any`: Any of the above types of hazardous materials are subject to restrictions
        during the trip.\n"
      type: string
      x-extensible-enum:
      - explosive
      - gas
      - flammable
      - combustible
      - organic
      - poison
      - radioactive
      - corrosive
      - poisonousInhalation
      - harmfulToWater
      - other
      - any
    LineString:
      description: GeoJSON encoding of type 'LineString'
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: number
              format: double
      required:
      - coordinates
      example:
        value:
          type: LineString
          coordinates:
          - - 52.0
            - 13.0
          - - 52.01
            - 13.01
    LocalizedString:
      description: String with optional language code.
      properties:
        value:
          description: String written in the language specified in the language property.
          type: string
        language:
          description: Language in BCP47 format
          type: string
      required:
      - value
      example:
        value: Invalidenstraße
        language: de
    Location:
      description: Location on the Earth
      properties:
        lat:
          description: Location of a point on the Earth north or south of the equator
            in decimal degrees.
          type: number
          format: double
          example: 52.531677
        lng:
          description: Location of a place on the Earth east or west of the prime
            meridian in decimal degrees.
          type: number
          format: double
          example: 13.381777
        elv:
          description: |
            Ellipsoid(geodetic) height in meters. Difference between the WGS84 ellipsoid and a point on the Earth’s surface.
            Note: Similar elevation can be obtained from a GPS receiver.
          type: number
          example: 512.5
      example:
        lat: 52.531677
        lng: 13.381777
      required:
      - lat
      - lng
    MatchTracePoint:
      description: GPS probe point with parameters relevant to path or route matching
      properties:
        lat:
          description: Latitude in degrees
          type: number
          format: double
        lng:
          description: Longitude in degrees
          type: number
          format: double
      required:
      - lat
      - lng
    MaxSpeed:
      description: Speed in meters per second, or "unlimited" indicating that the
        speed is unlimited, e.g., on a German autobahn
      oneOf:
      - type: number
        minimum: 0
      - type: string
        enum:
        - unlimited
    MaxSpeedOnSegment:
      type: string
      description: |
        A comma separated list of segments with restrictions on maximum baseSpeed.

        Each entry has the following structure:
        `{segmentId}(#{direction})?;speed={maxBaseSpeed}`

        The individual parts are:
        * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
        * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction
        * maxBaseSpeed: New value in m/s of baseSpeed on segment

        Example of a parameter value excluding two segments:
        `here:cm:segment:207551710#+;speed=10,here:cm:segment:76771992;speed=1`

        **Notes**:
        - It does not increase default baseSpeed on segment. If the value is greater than the default base speed, then such penalty will have no effect.
        - Minimum valid value for speed is 1
        - Using segments with a modified base speed does not trigger any notifications
        - Maximum amount of penalized segments in one request cannot be greater than 250.
          A "penalized segments" refers to segments that have a restrictions on maximum baseSpeed with `maxSpeedOnSegment`
          or avoided with `avoid[segments]`
    MaxSpeedOnSegmentPost:
      type: array
      items:
        type: object
        properties:
          segment:
            type: string
            description: |
              Identifier of the segment with restrictions on maximum `baseSpeed`.

              Each entry has the following structure:
              `{segmentId}(#{direction})?`
          speed:
            type: number
            minimum: 1
            maximum: 69.99
            description: 'Maximum `baseSpeed` on segment in m/s.

'
      description: |
        Segments with restrictions on maximum `baseSpeed`.

        For the general description of the functionality please refer to the `maxSpeedOnSegment` parameter of the
        query string.

        Passing parameters in the POST body is suggested when the length of the parameters exceeds the
        limitation of the GET request.

        Example of a parameter value excluding two segments:
        ```
        [
          {
            "segment": "here:cm:segment:207551710#+",
            "speed": 10
          },
          {
            "segment": "here:cm:segment:76771992",
            "speed": 1
          }
        ]
        ```

        **Notes**: Maximum amount of penalized segments in one request cannot be greater than 250.
          A "penalized segments" refers to segments that have a restrictions on maximum baseSpeed with `maxSpeedOnSegment`
          or avoided with `avoid[segments]`
    NoticeSeverity:
      description: |
        Describes the impact a notice has on the resource to which the notice is attached.
        * critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.
        * info - The notice is for informative purposes, but does not affect usability of the route.
      type: string
      enum:
      - critical
      - info
    ParkingLotPlaceType:
      description: "Extensible enum: `parkAndRide` `...`  \nCurrently possible values
        are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\",\n
        \ such as it is a parking specifically designed to allow transition between
        car and transit.\n"
      type: string
      x-extensible-enum:
      - parkAndRide
    PartialTime:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by `partial-time`."
      pattern: "^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$"
      example: 30600
    PaymentMethod:
      description: "Extensible enum: `cash` `bankCard` `creditCard` `passSubscription`
        `transponder` `videoToll` `cashExact` `travelCard` `...`  \nRecognized methods
        of payment.\n"
      type: string
      x-extensible-enum:
      - cash
      - bankCard
      - creditCard
      - passSubscription
      - transponder
      - videoToll
      - cashExact
      - travelCard
    PedestrianSpeed:
      description: Pedestrian speed in meters per second
      type: number
      minimum: 0.5
      maximum: 2
      default: 1
    Polyline:
      type: string
      description: Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline)
        format.
      example: A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e
    RailwayCrossing:
      description: "Extensible enum: `protected` `unprotected` `...`  \nType of railway
        crossing.\n"
      type: string
      x-extensible-enum:
      - protected
      - unprotected
    RefReplacements:
      description: 'Dictionary of placeholders to replacement strings for the compact
        representation of map entity references.

'
      type: object
      additionalProperties:
        type: string
    ReroutingMode:
      description: |
        Defines what kind of additional route calculation should be done.

        * `none` - Cuts off route before the current position. Updates dynamic attributes of the
        route after the current position. If the current position, i.e., the new `origin`, is defined and is
        outside of the original route then the request will fail. If both `origin` and
        `lastTraveledSectionIndex` or `traveledDistanceOnLastSection` are provided then
        `lastTraveledSectionIndex` and `traveledDistanceOnLastSection` will be applied first, and
        then `origin` will be matched to the part of the route that's left. This is the default behavior.
        * `returnToRoute` - Same as `none` if current position is on the route. If the current
        position is not on the original route then a new route to the destination will be
        calculated, starting from the current position. The new route will try to preserve the shape
        of the original route, if possible. If a new optimal route is found before a route back to
        the original route then the new route will be returned.
      type: string
      enum:
      - none
      - returnToRoute
    Return:
      description: |
        Defines which attributes are included in the response as part of data representation of a
        `Route` or `Section`.

        * `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
           Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified).
        * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
        * `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.
        * `summary` - Include summary for the section.
        * `travelSummary` - Include summary for the travel portion of the section.
        * `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.
        * `mlDuration` - Use a region-specific machine learning model to calculate route duration.
           **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**
        * `typicalDuration` - Include route duration under typical traffic conditions.
        * `elevation` - Include elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.
        * `routeHandle` - Encode calculated route and return a handle which can be used with
          `routes/{routeHandle}` to decode the route at a later point in time.
        * `passthrough` - Include information on passthrough via waypoints in the section.
        * `incidents` - Include a list of all incidents applicable to each section.
           Incidents are localized to the requested language.
           This requires `incidents` to be specified as part of the `return` parameter.
        * `routingZones` - Include information about routing zones each section goes through.
        * `truckRoadTypes` - Include information about road types each section goes through.
        * `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing
          parameters such as vehicle dimensions in the query,
          e.g `transportMode`, `vehicle[hovOccupancy]`, truck[height]. The full list of toll-related attributes is available in the
          [Tolls](https://developer.here.com/documentation/routing-api/dev_guide/topics/use-cases/tolls.html) page of the Developer Guide
          If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.
          **Note**: some toll-related options such as cars with trailers, or vehicle fuel related tolls are planned but not implemented at the moment.
          Therefore the request will return the most "typical" toll cost.
        * `routeLabels` - Include a list of the most important names and route numbers on this route that differentiate it from other alternatives
        The following restrictions apply when specifying the `return` parameter:

        * If `actions` is requested, then `polyline` must also be requested as well.
        * If `instructions` is requested, then `actions` must also be requested as well.
        * If `turnByTurnActions` is requested, then `polyline` must also be requested as well.
        * If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well
      type: string
      enum:
      - polyline
      - actions
      - instructions
      - summary
      - travelSummary
      - mlDuration
      - typicalDuration
      - turnByTurnActions
      - elevation
      - routeHandle
      - passthrough
      - incidents
      - routingZones
      - truckRoadTypes
      - tolls
      - routeLabels
    RoadInfoType:
      description: Type of the road (rural, urban, highway)
      type: string
      enum:
      - rural
      - urban
      - highway
      default: urban
    RoundaboutAngle:
      description: |
        The degree measure of the arc traversed from the roundabout entrance to the exit of the maneuver.

        Available only for exit roundabout actions. Positive values indicate an exit angle
        for a right-hand side driving roundabout and negative values indicate an exit angle
        for a left-hand side driving roundabout.
      type: number
      format: double
      minimum: -360
      maximum: 360
      example: 204.83
    RouterMode:
      description: Mode of transport to be used for route calculation.
      type: string
      enum:
      - car
      - truck
      - pedestrian
      - bicycle
      - scooter
      - taxi
      - bus
      - privateBus
    RoutingMode:
      description: |
        Specifies which optimization is applied during route calculation.

        * `fast`: Route calculation from start to destination optimized by travel time. In many
          cases, the route returned by the `fast` mode may not be the route with the fastest
          possible travel time. For example, the routing service may favor a route that remains on
          a highway, even if a faster travel time can be achieved by taking a detour or shortcut
          through an inconvenient side road.
        * `short`: Route calculation from start to destination disregarding any speed information.
          In this mode, the distance of the route is minimized, while keeping the route sensible.
          This includes, for example, penalizing turns. Because of that, the resulting route will
          not necessarily be the one with minimal distance.

        Notes:
        * The following Transport modes only support `fast` routingMode
          - `bicycle`
          - `bus`
          - `pedestrian`
          - `privateBus`
          - `scooter`
          - `taxi`
      type: string
      enum:
      - fast
      - short
      default: fast
    RoutingZoneReference:
      description: |
        A reference to a routing zone in HMC.

        The standard representation of a routing zone reference has the following structure:
        `{catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{zoneId}`

        The individual parts are:
        * `catalogHrn`: The HERE Resource Name that identifies the source catalog of the routing zone, example: `hrn:here:data::olp-here:rib-2`
        * `catalogVersion`: The catalog version
        * `layerId` (optional): The layer inside the catalog where the routing zone is located, example: `environmental-zones`
        * `tileId`: The HERE tile key of the partition/tile where the routing zone is located in the given version of the catalog
        * `zoneId`: The identifier of the referenced routing zone within the catalog, example: `here:cm:envzone:3455277`

        Example of a reference to an environmental zone in standard form:
        `hrn:here:data::olp-here:rib-2:1557:environmental-zones:all:here:cm:envzone:3455277`

        In order to reduce response size, routing zone references can also be provided in a compact representation.
        In compact form, parts of a reference are replaced by placeholders, which can be resolved using the `refReplacements` dictionary in the parent section.
        The placeholder format is ```\$\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\$\d+(:|$)``` .

        Example of the aforementioned environmental zone reference in compact form: `$0:$1:3455277`
        With the corresponding `refReplacements`:
        ```
        "refReplacements": {
          "0": "hrn:here:data::olp-here:rib-2:1557",
          "1": "environmental-zones:all:here:cm:envzone"
        }
        ```
      type: string
    Scooter:
      type: object
      description: Scooter-specific parameters
      properties:
        allowHighway:
          description: Specifies whether the scooter is allowed on the highway or
            not. This parameter is optional. If not provided, the scooter is not allowed
            to use the highway by default. There is a similar parameter avoid[features]=controlledAccessHighway
            to disallow highway usage. avoid[features] takes precedence, so if this
            parameter is also used, scooters are not allowed to use highways even
            if `allowHighway` is set to `true`.
          type: boolean
          default: false
    SegmentRef:
      description: |
        A reference to the HMC topology segment used in this span.

        The standard representation of a segment reference has the following structure:
        {catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{segmentId}(#{direction}({startOffset}..{endOffset})?)?

        The individual parts are:
        * catalogHrn: The HERE Resource Name that identifies the source catalog of the segment, example: hrn:here:data::olp-here:rib-2
        * catalogVersion: The catalog version
        * layerId (optional): The layer inside the catalog where the segment can be found, example: topology-geometry
        * tileId: The HERE tile key of the partition/tile where the segment is located in the given version of the catalog. This can be on a lower level than the actual segment is stored at (for example, the provided tile ID can be on level 14, despite topology-geometry partitions being tiled at level 12). The level of a HERE tile key is indicated by the position of the highest set bit in binary representation. Since the HERE tile key represents a morton code of the x and y portion of the Tile ID, the level 12 tile ID can be retrieved from the level 14 tile ID by removing the 4 least significant bits (or 2 bits per level) or 1 hexadecimal digit. For example, the level 14 tile 377894441 is included in the level 12 tile 23618402 (377894441<sub>10</sub> = 16863629<sub>16</sub> &rightarrow; 1686362<sub>16</sub> = 23618402<sub>10</sub>)
        * segmentId: The identifier of the referenced topology segment inside the catalog, example: here:cm:segment:84905195
        * direction (optional): Either '*' for undirected or bidirectional, '+' for positive direction, '-' for negative direction, or '?' for unknown direction (not used by the routing service)
        * startOffset/endOffset (optional): The start- and end offset are non-negative numbers between 0 and 1, representing the start and end of the referenced range using a proportion of the length of the segment. 0 represents the start and 1 the end of the segment, relative to the indicated direction (or positive direction in case of undirected segments). Example: 0.7..1

        Example of a segment reference in standard representation:
        hrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1

        The segment references can also be provided in a compact representation, to reduce the response size. In the compact representation, some parts are replaced by placeholders, which can be resolved using the refReplacements dictionary in the parent section.
        The placeholder format is ```\$\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\$\d+(:|$)/``` .

        Example of the segment reference previously mentioned in compact representation:
        $0:377894441:$1:84905195#+0.7..1
        With the corresponding refReplacements:
        "refReplacements": {
          "0": "hrn:here:data::olp-here:rib-2:1363:",
          "1": "here:cm:segment"
        }
      type: string
    Spans:
      type: string
      enum:
      - walkAttributes
      - streetAttributes
      - carAttributes
      - truckAttributes
      - scooterAttributes
      - names
      - length
      - duration
      - baseDuration
      - typicalDuration
      - countryCode
      - stateCode
      - functionalClass
      - routeNumbers
      - speedLimit
      - maxSpeed
      - dynamicSpeedInfo
      - segmentId
      - segmentRef
      - consumption
      - routingZones
      - truckRoadTypes
      - notices
      - incidents
      - tollSystems
      - gates
      - railwayCrossings
    Speed:
      description: Speed in meters per second
      type: number
      minimum: 0
    StateCode:
      description: |
        ISO-3166-2 code.
        Used for identifying the principal subdivisions (e.g., provinces or states) of a country with some `CountryCode`.
        Made of up to three alphanumeric characters.

        Preferably used in conjunction with the `CountryCode`.
        State code is available in the following countries:
          - USA
          - Canada
          - Australia
          - China
          - India
      type: string
    StreetAttributes:
      description: "Extensible enum: `rightDrivingSide` `dirtRoad` `tunnel` `bridge`
        `ramp` `controlledAccess` `roundabout` `underConstruction` `dividedRoad` `privateRoad`
[...]
